<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~kgaurav/

  RewriteRule ^_next/ - [L]

  RewriteRule ^images/ - [L]
  RewriteRule ^icons/ - [L]
  RewriteRule ^~kgaurav/ - [L]
  
  RewriteRule ^.*$ /~kgaurav/index.html [L]
</IfModule>